---
import { app } from "../firebase/server";
import { getAuth } from "firebase-admin/auth";
import Layout from "../layouts/Layout.astro";

/* Check if the user is authenticated */
const auth = getAuth(app);
if (Astro.cookies.has("__session")) {
  const sessionCookie = Astro.cookies.get("__session")?.value ?? "";
  const decodedCookie = await auth.verifySessionCookie(sessionCookie);
  if (decodedCookie) {
    return Astro.redirect("/view");
  }
}
---

<Layout title="Sign in">
  <div
    class="relative min-h-screen flex flex-col items-center justify-center text-yellow01 text-shadow-glow"
  >

    <h1 class="text-4xl font-bold mb-6 font-cmu">Forever Youth</h1>
    <h2 class="text-xl font-semibold mb-4 font-cmu">To the land of the young</h2>
    <button
      id="google"
      class="font-cmu flex items-center justify-center p-2 bg-blue01 text-yellow01 hover:bg-blue02 rounded-3xl"
    >
      <img src="/images/images.png" alt="Google Logo" class="w-6 h-6 mr-2 rounded-full" />
      Sign in with Google
    </button>
  </div>
</Layout>

<script>
  import {
    getAuth,
    inMemoryPersistence,
    GoogleAuthProvider,
    signInWithPopup,
  } from "firebase/auth";
  import { app } from "../firebase/client";

  const auth = getAuth(app);
  auth.setPersistence(inMemoryPersistence);

  const googleSignin = document.querySelector("#google");
  googleSignin?.addEventListener("click", async () => {
    const provider = new GoogleAuthProvider();
    const userCredential = await signInWithPopup(auth, provider);
    const idToken = await userCredential.user.getIdToken();
    const res = await fetch("/api/auth/signin", {
      headers: {
        Authorization: `Bearer ${idToken}`,
      },
    });

    if (res.redirected) {
      window.location.assign(res.url);
    }
  });
</script>
