---
import { app } from "../firebase/server";
import { getAuth } from "firebase-admin/auth";
import Layout from "../layouts/Layout.astro";

/* Check if the user is authenticated */
const auth = getAuth(app);
if (Astro.cookies.has("__session")) {
  const sessionCookie = Astro.cookies.get("__session")?.value ?? "";
  const decodedCookie = await auth.verifySessionCookie(sessionCookie);
  if (decodedCookie) {
    return Astro.redirect("/dashboard");
  }
}
---

<Layout title="Sign in">
  <div
    class="items-center flex flex-col p-6 min-h-screen justify-center bg-gradient-to-b from-blue01 to-blue02 text-yellow01 text-shadow-glow"
  >
    <h1 class="text-4xl font-bold mb-4 font-cmu">Sign in</h1>
    <button
      id="google"
      class="font-cmu flex items-center justify-center p-2 bg-blue01 text-yellow01 rounded hover:bg-blue02"
    >
      <img
        src="/images/images.png"
        alt="Google Logo"
        class="w-6 h-6 mr-2"
      />
      Sign in with Google
    </button>
  </div>
</Layout>
<script>
  import {
    getAuth,
    inMemoryPersistence,
    GoogleAuthProvider,
    signInWithPopup,
  } from "firebase/auth";
  import { app } from "../firebase/client";

  const auth = getAuth(app);
  auth.setPersistence(inMemoryPersistence);

  const googleSignin = document.querySelector("#google");
  googleSignin?.addEventListener("click", async () => {
    const provider = new GoogleAuthProvider();
    const userCredential = await signInWithPopup(auth, provider);
    const idToken = await userCredential.user.getIdToken();
    const res = await fetch("/api/auth/signin", {
      headers: {
        Authorization: `Bearer ${idToken}`,
      },
    });

    if (res.redirected) {
      window.location.assign(res.url);
    }
  });
</script>
