---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="max-w-screen-sm bg-main-bg bg-cover min-h-screen flex items-center justify-center"
  >
    <slot />
  </body>
  <style>
    @font-face {
      font-family: "CMU";
      src: url("/fonts/cmu-serif-cufonfonts/cmunrm.ttf") format("woff");
      font-weight: normal;
      font-style: normal;
      font-display: swap;
    }
  </style>
</html>
